<html>
  <head>
    <title>The Weakest Link</title>
  </head>
  <body>
    <style>
    body {
        background-image: url('images/weakest-link.png');
        background-size: cover;
    }
    </style>

    <img id="current-link" src="images/red-panel.png">

    <img id="current-player" src="images/red-panel.png">
    <img id="player-1" src="images/blue-panel.png">
    <img id="player-2" src="images/blue-panel.png">
    <img id="player-3" src="images/blue-panel.png">
    <img id="player-4" src="images/blue-panel.png">
    <img id="player-5" src="images/blue-panel.png">
    <img id="player-6" src="images/blue-panel.png">
    <img id="player-7" src="images/blue-panel.png">
    <img id="player-8" src="images/blue-panel.png">
    <img id="player-9" src="images/blue-panel.png">
    <img id="player-10" src="images/blue-panel.png">
    <img id="player-11" src="images/blue-panel.png">
    <img id="player-12" src="images/blue-panel.png">

  </body>
</html>
